@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

input[type='text']:focus ~ .input-text {
  @apply text-green-500 bg-[#fafafa] transform -translate-y-7 -translate-x-4 scale-75;
}
input[type='email']:focus ~ .input-text {
  @apply text-green-500 bg-[#fafafa] transform -translate-y-7 -translate-x-4 scale-75;
}
input:not(placeholder-shown) + label {
  @apply text-green-500 bg-[#fafafa] transform -translate-y-7 -translate-x-4 scale-75
}
input[type='password']:focus ~ .input-text {
  @apply text-green-500 bg-[#fafafa] transform -translate-y-7 -translate-x-4 scale-75;
}

input[type='checkbox']:checked ~ .check-1 {
  @apply text-opacity-100 ;
}

@font-face {
  font-family: helvetica;
  src: url('./assets/fonts/AG_Helvetica.ttf');
}

@font-face {
  font-family:  Helvetica Neue ;
  src: url('./assets/fonts/Helvetica\ Neue\ WGL.ttf');
}

@font-face {
  font-family: Arial;
  src: url('./assets/fonts/Arial.ttf');
}
  
body { 
    @apply bg-[#fafafa] relative text-[#000000de] h-[100%] font-[400]  tracking-widest leading-6 m-0 p-0;
}

h2 {
    max-width: calc(1em * (calc(600 / 13)));
}